.bg-fffcd4 {
  background-color: #fffcd4 !important;
}


.bg-074b6c {
  background-color: #074b6c !important;
}

.text-0b293c {
  color: #0b293c !important;
}

.bg-fffcd4-074b6c {
  background: linear-gradient(#fffcd4 0%, #074b6c 100%);
}

.font-fffcd4 {
  color: #fffcd4;
}

.bg-074b6c{
  background-color: #074b6c;
}

.bg-14709dbb{
  background-color: #14709dbb;
}
