.bg-primary {
  background-color: #fffcd4 !important;
}


.bg-base {
  background-color: #074b6c !important;
}

.text-0b293c {
  color: #0b293c !important;
}

.bg-gradient {
  background: linear-gradient(#fffcd4 0%, #074b6c 100%);
}

.font-primary {
  color: #fffcd4;
}

.bg-secondary{
  background-color: #14709dbb;
}
